* {
    margin: 0;
}

/* essential part */
nav ul {
    padding: 0;
    list-style: none;
}

nav>ul>li {
    float: left;
    position: relative;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

nav ul ul ul {
    top: 0;
    left: 100%;
}

nav li:hover>ul {
    display: block;
}

/* non-essential stuff, just prettifying */
nav {
    font: 1em/1.4 Arial,Verdana,sans-serif;
}

nav ul ul {
    min-width: 13em;
    background-color: #333;
}

nav li {
    min-width: 13em;
    text-decoration: none;
}

nav a {
    display: block;
    padding: .5em;
    text-decoration: none;
}

nav>ul>li {
    padding: 14px 16px;
    background-color: #333;
}

nav>ul>li:hover {
    background-color: black;
}

nav>ul>li>a {
    color: white;
    text-align: center;
}

nav ul ul a {
    color: white;
    font-weight: 700;
    padding: 14px 16px;
    min-width: 13em;
}

nav ul ul a:hover {
    background-color: black;
    text-decoration: underline;
}