/* essential part */
nav ul {
    padding: 0;
    list-style: none;
}

nav>ul>li {
    float: left;
    position: relative;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%; left: 0;
}

nav ul ul ul {
    top: 0;
    left: 100%;
}

nav li:hover>ul {
    display: block;
}


/* non-essential stuff, just prettifying */
nav {
  font: 1em/1.4 Arial,Verdana,sans-serif;
}
nav ul ul {
  min-width: 13em;
  box-shadow: inset 0 0 2px;
}
nav li {
  min-width: 10em;
  text-decoration: none;
}
nav a {
  display: block;
  padding: .5em;
  text-decoration: none;
}
nav>ul>li {
  margin: 0 1px;
  background: linear-gradient(#006CBC, #004184);
}
nav>ul>li:hover {
  background: linear-gradient(#60ACCE, #0A6CB2);
}
nav>ul>li>a {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
nav ul ul a {
  font-weight: 700;
}
nav ul ul a:hover {
  background: navy;
  color: white;
}