.header { grid-area: header;}
.main { grid-area: main;}
.aside { grid-area: aside;}
.footer { grid-area: footer;}

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'main main main main asode'
    'footer footer footer footer footer';
    gap: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

.griditems {
    background-color: rgb(125, 0, 0);
    padding: 20px;
    font-size: 32px;
}

.header {
    grid-column: 1 / span 5;
    grid-row: 1;
}

.main {
    grid-column: 80%;
    grid-row: 2;
}

.aside {
    grid-column: -2;
    grid-row: 2;
}

.footer {
    grid-column: 1 / span 5;
    grid-row: 3;
}

.header {
    position: sticky;
}

/* @media (max-width: 600px) {

} */