* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #585a97;
    max-width: 1440px;
    margin: 50px auto;
    border-radius: 10px;
    padding-bottom: 50px;
}

h1, h2, p, li {
    color: white;
}

h1 {
    text-align: center;
    padding: 30px;
}

.cardRow {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #20283A;
    min-width: 350px;
    max-width: 350px;
    margin: 20px;
    padding: 50px;
    flex: 1 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0 #2d2e4d;
}

.card:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.card:not(hover) {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.planName, .price, .spec {
    display: block;
}

h2 {
    text-align: center;
    margin: 30px;
    margin-top: 0;
}

.price {
    text-align: center;
    font-size: 2rem;
    margin: 30px;
    font-weight: 800;
}

.price .perMonth {
    font-size: 1rem;
}

ul {
    list-style: none;
    margin: 30px 0;
}

ul li::before {
    content: "•";
    color: red;
    display: inline-block; width: 1em;
    margin-left: -1em;
}

ul li {
    margin: 10px;
}

.btnAddToCart {
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: 1px solid red;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgb(100, 0, 0);
}

.btnAddToCart:hover {
    background-color: #2d2e4d;
    transition: background-color 0.3s ease;
}

.btnAddToCart:active {
    transform: scale(0.95);
}