body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
input {
    width: 50%;
    margin: 5px;
}
#expression-display {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: gray;
}

button {
    width: 50px;
    margin: 5px;
    cursor: pointer;
}